/*CSS*/
html, body {
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
    width: 100%;
    height: 100%;
    overflow: visible;
    font-family: Helvetica;
    
}

#tree {
    width: 100%;
    height: 100%;
    font-size:;
}


/*partial*/

.node.Brazdovic rect {
    fill: #4813c5;
}
.node.Mager rect {
    fill: #e47a11;
}
.node.Mager2 rect {
    fill: #e42a11;
}
.node.Mager3 rect {
    fill: #e917a3;
}



.node.Krajkovic rect {
    fill: #075826;
}

[data-l-id] path {
    stroke: #ffffff;

}

.match path, .match circle{
    stroke: #ee0a0a;
}
[data-n-id] rect:hover {
    filter: drop-shadow( 4px 5px 5px #aeaeae);
}

